/* Background for login page */
.login-background 
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1ffe7;
}

#login-pic-background 
{
  background: #f1ffe7;
}

#full-form-area
{
  background: none;
  max-width: 100%;
}

#full-form-background
{
  background: #f1ffe7;
  min-height: 100vh;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  


}


/* Defined row height to fix bootstrap nonce */
#gahr
{
  min-height: 100vh;
  background-color: green;
}

.form-container
{
 
  
  background: none;

    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;

}

.form-group
{
  background-color: none;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

#input-field-label
{
  max-width: 250px;
  margin: auto;
  display: flex;
  position:static;
  background: none;
  text-align: left;
}

#input-field
{
  margin-top: 1%;
  width: 100%;
  border-radius: 5px;
  border-width: 0;
  padding: 6px;
  color: #030711;
  background-color: #d4e1cb;
  font-size: smaller;
  outline:none;

  
  box-sizing: border-box;
  border: 2px solid transparent;
}


#input-field:focus
{
  box-sizing: border-box;
  border: 2px solid #cf4444;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  

}


.error-div
{
  color: red;
  min-height: 30px;
}
#error-message
{
  color:red;
}






#login-button-area
{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#primary-button
{
  padding: 3px;
  width: 200px;
  margin-bottom: 10px;
}
#primary-button:hover
{
  background-color: #a9fdac;
  color: white;
}


#second-button-label
{
  margin-top: 30px;
  margin-bottom: 0px;
}
#secondary-button
{
  background: none;
  padding: 0px;
  margin: 0px;
  color: #21823d;
  
}
#secondary-button:hover
{
  color: #44cf69;
  text-decoration: underline;
}






















#testtest1
{
  background-color: rgb(255, 0, 0);
  color:rgb(21, 255, 0);
}

#testtest2
{
  background-color: rgb(12, 147, 61);
  margin: auto;
  height: 100vh;
}
