


#all-rings-container
{
  max-width : 1000px;
  margin : auto;
  margin-top: 20px;
}

.minor-rings-container
{
  margin: auto;
}

.navi-icon-formatting
{
  color: white;
  font-size: calc(2.5vw + 2.5vh + 1.15vmin);
  padding: 0.5rem;
}

.navigation-buttons-formatting
{
    width: 100%;
    background: #44cf6c;
    border-radius: 0px;   
}

.all-rings-formatting
{
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-border
{
  border: 2px solid #a8fab5;
  border-radius: 25px;
  margin: 0px 5px;
}




#navbar-containee
{
  display: flex;
  background: #44cf6c;
  position: fixed;
  bottom: 0;
  flex-direction: column;
}

#dynamicIndicatorWidth
{
  width: 10%;
}

#format-individual-card
{
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.carousel-item-header
{
    display: flex;
    justify-content: flex-start;
    width: 88%;
    height: fit-content;
    margin: auto;
}

.carousel-item-text
{
  color: white;
  font-size: clamp(10px, 1.3vh, 35px);
  margin: 0;
}

.date-container
{
  background: #44cf6c;
  display: flex;
  justify-content: center;
}



#displayed-date
{
  background: white;
  color: black;
  border-radius: 5px;
  padding: 0 2%;
  margin: 0;
  justify-content: center;
  font-size: calc(1vw + 1vh + 0.5vmin);
}





#home-top-container
{
  /*max-width: 430px;*/
  width: 98vw;
  
}




#fix-nav-bar
{
    position: fixed;
    width: 100%;
    bottom: -5px;
}

.user-log-text-area
{
    position: sticky;
    top: -20px;
    display: flex;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    z-index: 10;
}

.user-log-text
{
  background: #040c1e;
  width: 78%;
  text-align: left;
  padding-top: 1px;
  color: white;
}
















/* STUFF RELATED TO THE SCROLLING DAILY LOG OF PRODUCTS */
.scroll-log-container
{
  display: flex;
  gap: 32px;
  overflow-y: scroll;
  overflow-x: clip;
  scroll-snap-type: y mandatory;
  padding: 20px 10px 10px;
  scroll-padding-left: 16px;
  min-height: 120px;
  max-height: 120px;
  flex-direction: column;
  align-items: center;
}

.item-container
{
  width: 100%;
  scroll-snap-align: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.full-text-container
{
  display : flex;
  flex-direction : column;
  align-items : flex-start;
  margin-top: 8px;
}


.thumbnail-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  aspect-ratio: 1 / 1;
  background: white;
  border: 2px solid white;
  border-radius: 2px;
}

#image-thumbnail
{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

#item-title
{
  color: white;
  font-size: calc(1vw + 1vh + 0.5vmin);
  margin-bottom: 0px;
  line-height: 1.1;
}

#item-subtitle
{
  color: white;
  font-size: calc(0.75vw + 0.75vh + 0.25vmin);
  margin-bottom: 0px;
  line-height: 1.1; 
}

#item-calories
{
  color : black;
  font-size: calc(0.6vw + 0.6vh + 0.6vmin);
}




.placeholder-text
{
  color : #676464;
  font-size : calc(1.5vw + 1.5vh + 0.75vmin);
}


