


#all-rings-container
{
  max-width : 1000px;
  margin : auto;
  margin-top: 20px;
}

.minor-rings-container
{
  margin: auto;
}

.navi-icon-formatting
{
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem;
}

.navigation-buttons-formatting
{
    width: 100%;
    background: #44cf6c;
    border-radius: 0px;   
}

.all-rings-formatting
{
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-border
{
  border: 2px solid #a8fab5;
  border-radius: 25px;
  margin: 0px 5px;
}




#navbar-containee
{
  display: flex;
  background: #44cf6c;
  position: fixed;
  bottom: 0;
  flex-direction: column;
}

#dynamicIndicatorWidth
{
  width: 10%;
}

#format-individual-card
{
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.carousel-item-header
{
    display: flex;
    justify-content: flex-start;
    width: 88%;
    height: fit-content;
    margin: auto;
}

.carousel-item-text
{
  color: white;
  font-size: clamp(10px, 1.3vh, 35px);
  margin: 0;
}

.date-container
{
  background: #44cf6c;
  display: flex;
  justify-content: center;
}



#displayed-date
{
  background: white;
  color: black;
  border-radius: 5px;
  width: 200px;
  margin: 0;
  justify-content: center;
  font-size: 21px;
}





#home-top-container
{
  /*max-width: 430px;*/
  width: 40vh;
  
}




#fix-nav-bar
{
    position: fixed;
    width: 100%;
    bottom: -5px;
}



















/* STUFF RELATED TO THE SCROLLING DAILY LOG OF PRODUCTS */
.scroll-log-container
{
  display: flex;
  gap: 32px;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  padding: 15px 10px;
  scroll-padding-left: 16px;
  min-height: 10vh;
  max-height: 180px;
}

.item-container
{
  max-width : 200px;
  min-width: 28%;
  scroll-snap-align: end;
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.text-container
{
  display : flex;
  flex-direction : column;
  align-items : center;
  margin-top: 12px;
}


.thumbnail-container
{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width : 90%;
  max-height : 70%;
  background: white;
  border: 2px solid white;
  border-radius: 2px;
}

#image-thumbnail
{
  width: 100%;
  height: 100%;
}

#item-title
{
  color: white;
  font-size: 15px;
  margin-bottom: 0px;
  line-height: 1.1;
}

#item-subtitle
{
  color: white;
  font-size: 11px;
  margin-bottom: 0px;
  line-height: 1.1; 
}

#item-calories
{
  color : white;
  font-size: 10px;

}


