


#product-container-width-formatting
{
  min-width:1500px;
  max-width: 3000px;
  margin: auto;
}

#main-container-formatting
{
  padding: 0px;
  margin-top: 15px;
  margin-top: 15px;
}




#navigation-button-area
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 15px;
}

#navigation-button-area-shift
{
  display: flex;
  margin-left: 30%;
}


#navi-button
{
  display: flex;
  flex-direction: column-reverse;
  width: 110px;
  height: 70px;
  padding: 0px;
}


#navigation-bar-button-icon
{
  width: fit-content;
  display: flex;
  margin: auto;
  font-size: 50px;
  margin-bottom: -10px;
}

#navigation-return-button-icon
{
  width: fit-content;
  display: flex;
  margin: auto;
  font-size: 50px;
  margin-bottom: -10px;
}








#main-content-area
{
  /*border: 1px solid white;*/
  width: 750px;
}

#product-title-area
{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#product-title
{
    font-size: 75px;
    text-wrap: nowrap;
    margin: 0px auto;
    width: 100%;
    text-align: left;
    color: white;
    overflow: clip;
    text-overflow: ellipsis;
}

#product-subtitle
{
  text-wrap: nowrap;
  margin: 0px auto;
  font-size: 30px;
  text-align: left;
  width: 95%;
  color: white;
  /*border: 1px solid white;*/
}

#image-container-container
{
  width: 30%;
}

.image-container
{
  aspect-ratio: 35 / 34;
  position: relative;
  max-width: 300px;
  max-height: 225px;
  overflow: hidden;
  margin:auto;
  display:flex;
  align-items: center;
  justify-content: center;
}

#product-image
{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border: 5px solid white;
  border-radius: 7px;
}

#item-button-area
{
  display: flex;
  width: 87%;
  margin: 12px auto 30px;
  display: flex;
  justify-content: flex-start;
  /*border: 1px solid white;*/

}

#edit-item-button
{
  padding: 0px 10px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
}

#add-item-button
{
  padding: 0px 10px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
}

#edit-item-icon
{
  font-size: 25px;
  margin-top: 3px;
}

#add-item-icon
{
  font-size: 20px;
  margin-top: 3px;
  margin-right: 2px;
}

















#nutrition-info-container
{
  margin-top: 15px;

}

#nutrition-info
{
  color: white;
  width: 100%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid white;
  font-size: 19px;
}


#individual-stat-container
{
  display: flex;
  justify-content: space-between;
  margin: 0.85vh auto;
  width: 96%;
}


#serving-chooser-area
{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

#decrease-serving-chooser-button
{
  padding: 0px;
  border-radius: 10px 0px 0px 0px;
  height: fit-content;
  width: fit-content;
  display: flex;
  margin: 0px;


}

#increase-serving-chooser-button
{
  padding: 0px;
  border-radius: 0px 10px 0px 0px;
  height: fit-content;
  width: fit-content;
  display: flex;
  margin: 0px;

}

#serving-chooser-icon
{
  height: 18px;
  margin-top: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#serving-counter
{
  background: white;
  padding: 0px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

#servings-input
{
  width: 25px;
  text-align: center;
  background: none;
  border: none;
  font-size: 14px;
  color: black;
}

#servings-input::placeholder
{
  color: black;
}

/* To get rid of stupid increment arrows on input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] 
{
  -moz-appearance: textfield;
}




#testtest
{
  background-color: orange;
}



#test2
{
  background-color: red;

}

#test3
{
  /*border: 1px solid white;*/
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

#test4
{
  background: red;
}
